h1, h2, h3{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
h1{
    font-size: 50px;
}
h2{
     font-size: 30px;
}
h3{
     font-size: 20px;
}
p, span, li, a{
    color: darkgray;
    
}
section{
    margin: 40px 0;
}
.tarjetas{
    background-color: green;
}