.cards {
    display: flex;
    justify-content: center;
    gap: $spacing-md;
    padding: $spacing-lg;
    flex-wrap: wrap;
    
    .card {
        @include card-style;
        flex: 1;
        min-width: 250px;
        max-width: 350px;
        
        &__title {
            color: $color-primary;
            margin-bottom: $spacing-xs;
            font-size: $font-size-large;
        }
        
        &__text {
            color: lighten($color-text, 20%);
            font-size: $font-size-small;
        }
    }
    
    @include mobile {
        flex-direction: column;
        padding: $spacing-sm;
        
        .card {
            width: 100%;
        }
    }
}
