.footer {
    background-color: $color-dark;
    color: $color-white;
    text-align: center;
    padding: $spacing-md;
    
    &__text {
        font-size: $font-size-small;
        opacity: 0.8;
    }
}